<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css')}}">
</head>
<body>
    <div class="table-responsive">
        <table class="table">
            {% for note in notes %}
                <tr>
                    <th scope="col">{{ note }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="alert alert-info">
        <p>Nombres de notes : {{ notes |length }}</p>
        <p>Notes min : {{ min(notes) }}</p>
        <p>Notes max : {{ max(notes) }}</p>
    </div>
    
</body>
</html>